# Core Dependencies
streamlit
pandas==2.1.4
numpy==1.26.3
openpyxl

# Machine Learning
scikit-learn
xgboost
prophet

# Data Processing
scipy

# Visualization
plotly
matplotlib
seaborn

# Utilities
python-dateutil
pytz
